<!DOCTYPE html>
<html lang="es">
    {{> head }}
<body>
    
    {{> navbar }}

    <section>
        <div class="row">
            <div class="col-8">
                <h1>Marca de Ropa:</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas iusto quasi eius, tempore, ratione ea odio accusantium quibusdam ullam laudantium totam qui labore reiciendis recusandae magnam, sunt officia iste ipsa.
                </p>
            </div>
            <div class="col-4">
                <img class="img-thumbnail" src="assets/img/buenas.jpg" alt="Image not found">
            </div>
        </div>
    </section>

    {{> footer}}
</body>
</html>